--extra-index-url https://backend:dc222fa6-452f-4253-a2fd-a52e7ba2e7e9@nexus.sigame.com.br/repository/pypi/simple
bifrost-client==0.1.3
caronte==0.2.5
Flask==2.1.2
motor==3.0.0
pydantic==1.9.0
iara-client==0.5.0
etria-logger==0.1.11